{ 
  "extends": "airbnb/base",
  "rules": {
    "no-underscore-dangle" : "off",
    "no-plusplus": "off",
    "max-len": [2, 400, 4, {"ignoreUrls": true}],
    "camelcase": "off",
    "consistent-return": "off",
    "no-shadow":"off"
  }
}